body {
  margin: 0;
  padding: 0;
  background: #211930;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* display: grid; */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.app {
  justify-self: center;
  padding-top: 25px;
}

.app-title {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
}

.app-tagline {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 15px;
  margin: 0;
  color: #b795ff;
  margin-bottom: 25px;
}

#uploadForm {
  justify-self: center;
  margin-bottom: 15px;
}
#email-form {
  margin-bottom: 15px;
}
.button-styled {
  background: #48376e;
  color: white;
  outline: none;
  padding: 10px;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
}

.button-styled:hover {
  cursor: pointer;
  background: #755fa3;
}

.styled-input {
  border: none;
  outline: none;
  padding: 10px;
  color: white;
  background: #48376e;
}

.input-styled {
  background: #aa98d3;
  border: 1px solid #b795ff;
  padding: 10px;
  outline: none;
  margin: 0px;
}
.input-styled::placeholder {
  color: black;
}

#file-input-trigger {
  margin-right: 10px;
}

.conversion-info {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
}

.updated-date-time,
.conversion-rate {
  color: white;
  font-size: 24px;
  text-transform: capitalize;
}

.converted_prices {
  width: 100%;
  margin-bottom: 25px;
}

.converted-row,
.converted-header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  border: 1px solid #b795ff;
  background: #544475;
  color: white;
  text-align: center;
}

.converted-header {
  font-weight: 500;
  font-size: 18px;
}

.conversion-stats {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.stat {
  width: 272px;
  padding: 10px;
  background: #604c8d;
  text-transform: uppercase;
  font-weight: bold;
  display: flex;
}

.stat-value {
  font-size: 35px;
  font-weight: 400;
  color: #e0d0ff;
  letter-spacing: 1.5px;
}

.stat-text {
  margin: auto;
  font-size: 20px;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

.button-disabled,
.input-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.notif-container {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 15px;
}

.email-notification {
  opacity: 0;
  padding: 20px;
  color: white;
  background: rgb(45, 48, 58);
}

.check-icon {
  font-size: 25px;
  color: rgb(63, 253, 174);
  vertical-align: middle;
  margin-right: 5px;
}

.notif-enter {
  animation: enter 0.2s ease-out;
  animation-fill-mode: forwards;
}
.notif-leave {
  animation: leave 0.2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes leave {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes enter {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
